html, body{
	margin: 0;
	max-width: 100%;
	font-family: 'roboto', sans-serif;
}

.container{
	max-width: 100%;
}



/*NAVIGATION ATAS*/


.container-nav-atas{
	width: 100%;
	height: 56px;
	padding: 20px 0px;
	background-color: #335b75;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-nav-atas i{
	text-align: center;
	color: #fff;
	font-size:25px;
	flex: 1;
}

.container-nav-atas div{
	text-align: center;
	color: #fff;
	flex: 2;
}

.container-nav-atas div img{
	width: 40%;
	height: 40%;
}



/*Timer Pengerjaan*/

.container-timer{
	width: 80%;
	height: 65px;	
	margin: 20px auto;
	background: linear-gradient(90deg, rgba(47, 157, 219, 0.8) 0%, rgba(49, 130, 139, 0.677706) 52.94%, rgba(29, 191, 162, 0.56) 100%);
	border-radius: 5px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.container-timer table{
	width: 60%;	
	margin: 0px;
	text-align: center;
	font-size: 17px;
	color: #fff;
}



/*Info Soal*/
.container-info{
	max-width: 80%;
	margin: auto;
	padding: 1% 0px;
	background: rgba(196, 196, 196, 0.1);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}

.container-info table{
	width: 40%;
	text-align: left;
	margin-left: 5%;
}



/*Nomor Soal*/
.nomor-soal{
	width: 80%;
	margin: 3% auto 1% auto;
	font-size: 25px;
	display: flex;
	justify-content: flex-start;
	cursor: pointer;
}

.nomor-soal div{
	width: 35px;
	height: 35px;
	background-color: #c4c4c4;
	border-radius: 10px;
	text-align: center;
}

.nomor-soal .nmbr{
	margin: 0px;
}

.garis{
	width: 80%;
	height: 3px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.1);;
}



/*Soal*/
.container-soal{
	width: 80%;
	margin: 3% auto 3% auto;
	border-radius: 10px;
	border: solid 2px rgba(216, 211, 211, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.container-soal p{
	font-size: 17px;
	margin: 3%;
}

.radio-input{
	margin: 0px 3% 3% 3%;
}

.radio-input input, label{
	font-size: 20px;
	margin: 1% 0px;
}



/*Tool*/
.container-tool{
	width: 65%;
	margin: auto auto 30px auto;
	display: flex;

}

.container-tool .back-next{
	padding: 1%;
	background-color: #fff;
	border: 3px solid #5b8eda;
	color: #5b8eda;
	border-radius: 10px;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	flex: 1;
}

.container-tool .btn-tool{
	color: #fff;
	margin: 0px 3%;
	border: 0;
	border-radius: 10px;
	font-size: 17px;
	cursor: pointer;
	flex: 2;
}



/*Tinjau Nomor*/
.container-tinjau{
	width: 30%;
	margin: auto;
	display: flex;
}

.btn-tinjau{
	width: 100%;
	padding: 5%;
	border: 0;
	background-color: rgba(95, 174, 180, 0.85);
	border-radius: 10px;
	font-size: 17px;
	color: #fff;
	cursor: pointer;
}



/*NAVIGATION BAWAH*/

.container-nav-bawah{
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.con-btn-send{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.con-btn-send .btn-send{
	width: 70px;
	height: 70px;
	border: 0;
	margin: 0px 5% 3% 0px;
	padding: 0px;
	border-radius: 100%;
	background-color: #6fbb8d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-send img{
	width: 50%;
	height: 50%;
	margin: auto;
}

nav{
	max-width: 100%;
	height: 70px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;
	border-radius: 15px 15px 0px 0px;
	-webkit-box-shadow: 0px -5px 8px 1px #B2B2B2; 
	box-shadow: 0px -5px 8px 1px #B2B2B2;
}

nav ul{
	width: 100%;
	padding-left : 0px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	text-align: center;
}

nav ul li a{
	text-decoration: none;
	color: #636363;
	font-family: 'Changa', sans-serif;
	font-size: 16px; 
}

.fas, .fa{
	text-align: center;
	font-size: 20px; 
}




/*List Nomor*/
.container-nmbr{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
}

.container-nmbr-nomor{
	max-width: 55%;
	margin: 10% auto auto auto;
	border: solid 2px rgba(216, 211, 211, 0.5);
	border-radius: 20px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: #fff;
	opacity: 1;
	-webkit-box-shadow: 0px 2px 27px 10px #424242; 
	box-shadow: 0px 2px 27px 10px #424242;
}

.container-nomor{
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.nomor{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.nomor button{
	border: 0;
	width: 13%;
	background-color: #000;
	border-radius: 12px;
	color: #fff;
	margin: 2%;
}

.nomor h5{
	margin: 10px auto;
	text-align: center;
}

.h3{
	text-align: center;
	color: #636363;
}


/*keterangan*/
.container-keterangan{
	width: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.con-kotak{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.container-keterangan .kotak{
	width: 30%;
	height: 26px;
	margin: 0 2%;
	background-color: red;
}

h4{
	color: #636363;
	margin: 13px 0px;
}






@media (max-width: 500px){

	body{
		margin: 0;
		width: 100%;
	}

	.container-nav-atas{
		padding: 8px 0px;
	}

	.container-nav-atas div img{
		width: 70%;
		height: 70%;
	}

	.container-timer{
		height: 45px;	
		margin: 10px auto;
	}

	.container-timer table{
		font-size: 14px;
	}

	.container-info table{
		width: 40%;
		text-align: left;
		margin-left: 5%;
		font-size: 14px;
	}

	.nomor-soal{
		font-size: 18px;
	}

	.nomor-soal div{
		width: 25px;
		height: 25px;
	}

	.container-tool{
		width: 80%;
		margin-bottom: 10px;
	}

	.container-tool .back-next{
		font-size: 17px;
	}

	.container-tool .btn-tool{
		margin: 0px 1%;
		font-size: 14px;
	}

	.con-btn-send .btn-send{
		width: 45px;
		height: 45px;
	}
	
	nav{
		height: 60px;
	}

	nav ul li a{
		font-size: 12px; 
	}

	.fas, .fa{
		font-size: 16px; 
	}



	/*List Nomor*/
	.container-nmbr-nomor{
		max-width: 75%;
	}

	button{
		border: 0;
		width: 13%;
		background-color: #000;
		border-radius: 8px;
		color: #fff;
		margin: 1%;
	}

	h5{
		margin: 7px auto;
		text-align: center;
	}

	.h3{
		font-size: 14px;
	}

	h4{
		font-size: 12px;
	}

}


@media (max-width: 350px){

	.container-nmbr-nomor{
		max-width: 75%;
		height: 100%;
	}

	button{
		border: 0;
		width: 13%;
		background-color: #000;
		border-radius: 8px;
		color: #fff;
		margin: 1%;
	}

	.container-keterangan .kotak{
		width: 35%;
		height: 18px;
	}

	h5{
		margin: 4px auto;
		text-align: center;
	}

	.h3{
		font-size: 11px;
	}

	h4{
		font-size: 8px;
	}

}