
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Roboto:wght@300;700&display=swap');
/* Tablet */
@media only screen and (max-width:768px){


    /* Utilites */
    .button_custom_1 {
        width: 161px;
        border-radius: 20px;
        background-color: #335b75;
    }

    .button_custom_2 {
        width: 56px;
        border-radius: 3px;
        border: solid 1px rgba(212, 212, 212, 0.9);
        background-color: #ffffff;
    }

    /* Navbar bottom */
    .container-nav-bawah{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
     
    nav{
        height: 70px;
        background-color: #ffffff;
        display: flex;
        border-radius: 15px 15px 0px 0px;
        -webkit-box-shadow: 0px -5px 8px 1px #B2B2B2;
        box-shadow: 0px -5px 8px 1px #B2B2B2;
    }
     
    nav ul{
        width: 100%;
        padding-left : 0px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
     
    nav ul li {
        text-align: center;
    }
     
    nav ul li a{
        text-decoration: none;
        color: #636363;
        font-family: 'Changa', sans-serif;
        font-size: 16px;
    }
     
    .fas, .fa{
        text-align: center;
        font-size: 20px;
    }


    /* cover.html */
    nav.navbar {
        background-color: #335b75;
        height: 56px;
    }

    .section_landing_page {
        height: 220px;
        background-image: linear-gradient(to top, #ffc803, #e19500);
    }

    .container .text_header {
        margin-top: 29px;
    }

    .container .set_text_1 {
        font-size: 18px;
        font-weight: bold;
    }

    .container .set_text_1 p {
        font-size: 16px;
        line-height: 16px;
    }

    .container .info-panel-1 {
        width: 364px;
        border-radius: 8px;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: solid 1px rgba(108, 103, 103, 0.2);
        background-color: #ffffff;
        margin-top: -25px;
    }

    .container .info-panel-2 {
        margin-top: 16px;
        width: 364px;
        border-radius: 8px;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: solid 1px rgba(108, 103, 103, 0.2);
        background-color: #ffffff;
    }

    .container .info-panel-3 {
        margin-top: 16px;
        width: 364px;
        border-radius: 8px;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: solid 1px rgba(108, 103, 103, 0.2);
        background-color: #ffffff;
    }

    .col-sm-6 img {
        width: 108px;
        height: 108px;
    }


    /* hasil.html */
    .section_selesai_tryout {
        margin-top: 24px;
        height: 152px;
        border-radius: 10px;
        background-color: rgba(110, 172, 157, 0.97);
    }

    .section_selesai_tryout h1 {
        font-family: 'Roboto-Bold' , sans-serif;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 1.8px;
    } 

    .section_selesai_tryout p {
        font-family : 'Roboto-Regular' , sans-serif;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 1.6px;

    }

    .section_selesai_tryout img {
        margin-top: 28px;
        width: 92px;
        height: 92px;
    }

    .section_selesai_tryout .set_top {
        margin-top: 24px;
    }

    .section_hasil_latihan_soal {
        margin-top: 36px;
    }

    .section_hasil_latihan_soal .col_all {
        box-shadow: 0 1px 3px 0 rgba(33, 33, 33, 0.16);
        background-color: #f7f7f7;
    }

    .section_pembahasan{
        margin-top: 17px;
        border-radius: 8px;
        border: solid 2px rgba(150, 139, 139, 0.3);
    }

    .section_analisis{
        margin-top: 24px;
        height: 152px;
        border-radius: 10px;
        background-color: rgba(110, 172, 157, 0.97); 
    }

    .section_analisis h1{
        margin-top: 24px;
        font-weight: bold;
        font-family : 'Roboto-Bold' , sans-serif;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 2.8px;
    }

    .section_analisis p{
        font-family : 'Roboto-Regular' , sans-serif;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.4px;
    }

    .section_analisis img{
        margin-top: 18px;
        width: 103px;
        height: 103px;
    }

    .section_analisis_2{
        margin-top: 20px;
    }

    .bg_analisis {
        box-shadow: 0 1px 3px 0 rgba(33, 33, 33, 0.16);
        background-color: #f7f7f7;
    }




    


}